/* INDEX*/
*{
	margin: 0;
	padding: 0;
}
body{
	font-family: sans-serif;
}

.clear{
	clear: both;
}

.main{
	width: 100%;
	height: 100vh;
	background-color:black;
}

.card{
	width: 400px;
	height:500px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);

}

.card-title{
	width: 100%;

}

.card-title h3{
	color:white;
	text-align: center;
	padding: 20px 0;
	font-weight: 500;
}

.card-title h3 > span{
	color:#16dbff;
}

.card-body{
	background-color:black;
	padding: 10px 0px;
	border-radius: 10%;
	border: 3px solid #16dbff;
	width: 100%;
	height: 450px;
	overflow: hidden;
	border-color: 5 px solid #dbf3fa
}
.card-body-top{
	width: 100%;
	position: relative;
	border-bottom: 1px solid white;
}
::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.card-body-top > a .btn{
	border: 0;
	background-color: black;
	color:#16dbff;
	font-size: 16px;
	letter-spacing: 1px;
	font-weight: 500;
	width: 180px;
	padding: 20px 0;
}
#login{
	color: #16dbff;
}

#register{
	color:  #16dbff;
}
.active_btn{
	color: #16dbff;
}

#pointer-btn-login{
	position: absolute;
	bottom:-1px;
	left: 40px;
	width: 100px;
	height: 2px;
	background-color: #16dbff;
	transition: 0.3s all ease;
}
#pointer-btn-register{
	position: absolute;
	bottom:-1px;
	left: 220px;
	width: 100px;
	height: 2px;
	background-color: #16dbff;
	transition: 0.3s all ease;
}



.card-body-login{
	width: 100%;
	padding: 15px 20px;
	position: relative;

}

.card-body-login > #login-form{
	position: absolute;
	top: 30px;
	left: 25px;
	text-align: center;
	transition: 0.5s all ease;
}

.card-body-login > #register-form{
	position: absolute;
	top: 20px;
	left: 400px;
	text-align: center;
	transition: 0.5s all ease;
}

.input-form{
	border: none;
	background-color: transparent;
	color: #fff;
	border-bottom: 1px solid  #16dbff;
	width: 350px;
	padding: 15px 0px;
	font-size: 15px;
	letter-spacing: 1px;
	outline: none;
}

.padding{
	padding: 0px 50px;
}
.submit-form{
	background-color:#26deff;
	color: #000;
	border: none;
	padding: 10px 25px;
	font-size: 15px;
	cursor: pointer;
	letter-spacing: 1px;
	border-radius: 50px;
}
/*
@media (max-width: 800px) {
	.form-inline input {
	  margin: 10px 0;
	}
	
	.form-inline {
	  flex-direction: column;
	  align-items: stretch;
	}
*/
	@media only screen and (max-width: 600px) {
		.card{
			width: 300px;
			position: absolute;
			top: 40%;
			left: 50%;
			transform: translate(-50%,-50%);
		}
		.card-body{
			background-color: #121212;
			padding: 7px 0px;
			border-radius: 3px;
			width: 100%;
			height: 400px;
			overflow: hidden;
		}
		.card-body-top{
			width: 70%;
			position: relative;
			border-bottom: 1px solid #262626;
		}
	
		.card-body-top > a .btn{
			border: 0;
			background-color: transparent;
			color: #848484;
			font-size: 16px;
			letter-spacing: 1px;
			font-weight: 500;
			width: 100px;
			padding: 20px 5;
		}
		#pointer-btn-register{
			position: absolute;
			bottom:-1px;
			left: 120px;
			width: 70px;
			height: 2px;
			background-color:"#7b68ee";
			transition: 0.5s all ease;
		}
		#pointer-btn-login{
			position: absolute;
			bottom:-1px;
			left: 15px;
			width: 70px;
			height: 2px;
			background-color:"#7b68ee";
			transition: 0.5s all ease;
		}
		.input-form{
			border: none;
			background-color: transparent;
			color: #fff;
			border-bottom: 1px solid blueviolet;
			width: 250px;
			padding: 10px 0px;
			font-size: 13px;
			letter-spacing: 1px;
			outline: none;
		}
		#pointer-btn{
			left:115px;
			position: absolute;
	bottom:-1px;

	width: 100px;
	height: 2px;
	background-color: blueviolet;
	transition: 0.3s all ease;
		}
	  



		.kr-modal {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 9999;
			background-color: transparent;
			overflow-x: hidden;
			overflow-y: scroll;
			-webkit-transition: all 0.2s ease-in-out;
			-moz-transition: all 0.2s ease-in-out;
			transition: all 0.2s ease-in-out;
			padding: 20px;
			box-sizing: border-box;
		}
	}
