* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
nav {
  background: #151515;
  padding: 0px 40px;
}
nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
nav ul li {
  padding: 5px 0;
  cursor: pointer;
}
nav ul li.items {
  position: relative;
  width: auto;
  margin: 0 16px;
  text-align: center;
  order: 3;
}
nav ul li.items:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 5px;
  height: 2px;
  width: 100%;
  background: #33ffff;
  opacity: 0;
  transition: all 0.2s linear;
}
nav ul li.items:hover:after {
  opacity: 1;
  bottom: 8px;
}
nav ul li.logo {
  flex: 1;
}
nav ul li a {
  color: white;
  font-size: 18px;
  text-decoration: none;
  transition: 0.4s;
}
nav ul li:hover a {
  color: cyan;
}
nav ul li i {
  font-size: 23px;
}
nav ul li.btn {
  display: none;
}
nav ul li.btn.hide i:before {
  content: "\f00d";
}
#hamburger {
  visibility: hidden;
  color: white;
  display: none;
}
@media all and (max-width: 500px) {
  #hamburger {
    visibility: visible;
    display: inline;
  }
  nav {
    padding: 5px 30px;
  }
  nav ul li.items {
    width: 100%;
    display: none;
  }
  nav ul li.items.show {
    display: block;
  }
  nav ul li.btn {
    display: block;
  }
  nav ul li.items:hover {
    border-radius: 5px;
    box-shadow: inset 0 0 5px #33ffff, inset 0 0 10px #66ffff;
  }
  nav ul li.items:hover:after {
    opacity: 0;
  }
}

body.correct {
  background-color: #4ded30;
}

body.wrong {
  background-color: red;
}

.container {
  float: center;
  box-shadow: 10px 15px 5px #cbcbcb;
  background-color: black;
  opacity: 0.88;
  text-align: center;

   /*width: 700px;*/

  max-width: 90%;
  color: white;
  border-radius: 35px;
  padding: 25px;
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 12px;
  margin: 20px 0;
}

.btn {
  --hue: var(--hue-neutral);
  border: 5 px solid #dbf3fa;
  background-color: #26deff;
  border-radius: 10px;
  padding: 10px 20px;
  color: white;
  outline: none;
  opacity: 0.9;
  transition: 0.3s;
  font-size: 25px;
}

.btn:hover {
  font-size: 130%;
  border-color: black;
  opacity: 1;
}

.btn.correct {
  --hue: var(--hue-correct);
  background-color: #16ff16;
}

.btn.wrong {
  --hue: var(--hue-wrong);
  background-color: white;
}

.start-btn,
.next-btn {
  width: auto;
  font-size: 20px;
  font-weight: bold;
  padding: 10px 20px;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}

.btnconti {
  font-size: 25px;
  border-radius: 20px;
  padding: 5px 15px;
  outline: none;
  background-color: #26deff;
  color: black;
  outline: none;
  border-color: 5 px solid #dbf3fa;
  box-shadow: 10px 15px 5px #cbcbcb;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  justify-content: center;
  align-items: center;
  outline: 0;
}

.btnconti:hover {
  cursor: pointer;
  opacity: 1;
  font-size: 30px;
}
